<div class="row">
    <div class="large-12 columns">
        <h1>Bienvenue chez Learning Company</h1>
    </div>
</div>

<div class="row">
    <p>Veuillez rechercher des formations via leur libellé ou leur référence, ou cliquer sur un thème dans la liste ci-contre.</p>
</div>